<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <form class="box" action="Login.html" method="post">
        <h1>Login</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="submit" name="" value="Login">
    </form>
</div>
</body>
</html>
